@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
:root {
  --background-color: #f5f4f7;
  --white: #fff;
  --primary-black: #000;
  --sec-black: #404040;
  --badge: #fbe7e8;
  --badge-text: #a30d11;
  --badge1: #4ba665;
  --text-badge1: #1f9254;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
  /* max-height: 100dvh; */
  overflow-y: hidden;
}

.s {
  display: flex;
  padding: 0.6rem;
  margin: 1rem 0;
  gap: 2rem;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
}

.heading .auth-p {
  color: var(--sec-black);
}

.login {
  color: #9c6fff;
  text-decoration: underline;
}

.logo-container {
  position: absolute;
  top: -5px;
}

.bi {
  color: #787486;
}

.dash-body {
  background-color: #f0f6ff;
}

.margin {
  /* margin-top: 1px; */
}

.height {
  height: 88vh;
}

.hind {
  height: 12vh;
}

.boxes {
  box-shadow: 0 3px -35.16px #00000014;
  background-color: white;
}

.wrapper {
  padding: 1rem 0;
  margin: 0 auto;
  /* background-color: grey; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 56px);
  grid-gap: 2rem;
  /* grid-auto-rows: auto; */
}

.unit {
  padding: 1rem;
  background-color: white;
}

.one {
  grid-column: 1/3;
  grid-row: 1/3;
}
.two {
  grid-column: 3/5;
  grid-row: 1/3;
}

.three {
  grid-column: 1/5;
  grid-row: 3/7;
}

.four {
  grid-column: 5/7;
  grid-row: 1/5;
}

.five {
  grid-column: 5/7;
  grid-row: 5/7;
}

.canvas {
  max-height: 290px;
}

.wrapper1 {
  padding: 0.7rem;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin-block: 1rem;
  box-shadow: 2px 4px 6px 2px rgb(0 0 0 / 0.1), 2px 2px 4px 2px rgb(0 0 0 / 0.1);
}

.wrapper1 span {
  font-size: 12px;
}

.wrapper1 p {
  font-size: 14px;
}

.section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.span {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile img {
  width: 100%;
  max-width: 30px;
}

.badged {
  background-color: #fbe7e8;
  padding: 0.4rem 0.6rem;
  border-radius: 40px;
  color: #a30d11;
}

.badged1 {
  background-color: #ebf9f1;
  padding: 0.4rem;
  border-radius: 40px;
  color: #1f9254;
}

.time {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.time p {
  /* font-size: 16px; */
}

.active {
}
.input-ctn label {
  font-weight: 700;
  font-size: 18px;
}

.dummy-full {
  width: 100%;
  max-width: 450px;
}

.high button {
  margin-top: 0.5rem;
}

.tab {
  cursor: pointer;
}

.active-tab {
  color: #0c7fda;
  border-bottom: 3px solid #0c7fda;
  transition: 0.1s step-end;
}

.active-nav {
  background-color: #0c7fda;
  color: blue;
  padding: 4px;
  border-radius: 4px;
}
